<ecsact-sidenav>
	<ecsact-sidenav-section title="Unity">
		<a routerLink="/start/unity/install" routerLinkActive="active"
			>Ecsact Unity Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Unreal Engine">
		<a routerLink="/start/unreal/install" routerLinkActive="active"
			>Ecsact Unreal Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Godot">
		<a routerLink="/start/godot/install" routerLinkActive="active"
			>Ecsact Godot Overview</a
		>
	</ecsact-sidenav-section>
</ecsact-sidenav>

<ecsact-content>
	<article>
		<h1 id="install">Install</h1>
		<p>
			The Ecsact SDK contains all the necessary tools for developing with
			Ecsact. <strong>All</strong> integrations requires the Ecsact SDK.
		</p>

		<h2 id="ecsact-sdk">Ecsact SDK</h2>
		<ng-container [ngSwitch]="os">
			<ng-container *ngSwitchCase="'Windows 10'">
				<p>
					Ecsact SDK on Windows 10+ is distributed as an
					<em>app installer</em> and is the recommended way to install the
					Ecsact SDK. Other download options are available on our
					<a href="https://github.com/ecsact-dev/ecsact_sdk/releases"
						>GitHub releases page</a
					>.
				</p>
				<p style="color: var(--color-success)">
					<a class="btn" href="https://ecsact.dev/ecsact_sdk.appinstaller"
						><span class="i24">download</span> ecsact_sdk.appinstaller</a
					>
				</p>
			</ng-container>

			<ng-container *ngSwitchCase="'Linux'">
				<p>
					An archive (tar.gz) of the latest Ecsact SDK release can be found on
					our
					<a href="https://github.com/ecsact-dev/ecsact_sdk/releases"
						>GitHub releases page</a
					>
					for Linux.
				</p>
			</ng-container>

			<ng-container *ngSwitchCase="'Mac OS'">
				<p>
					<span class="i24">info</span> Ecsact SDK is not available on macOS
					(yet.) To keep up to date or provide feedback please follow the
					<a href="https://github.com/ecsact-dev/ecsact_sdk/issues/169"
						>macOS release tracking issue on GitHub</a
					>.
				</p>
			</ng-container>

			<p *ngSwitchDefault>
				<span class="i24">info</span>
				Ecsact SDK is not available for <strong>{{ os }}</strong
				>.
			</p>
		</ng-container>
		<p style="font-size: 90%">
			Did we detect the wrong operating system or make a mistake? Looking for a
			different download options? Check out the
			<a href="https://github.com/ecsact-dev/ecsact_sdk/releases"
				>latest release on GitHub</a
			>.
		</p>
		<h2 id="integrations">Integrations</h2>
		<div class="integration-links-container">
			<a class="integration-link" routerLink="/start/unity">
				<div class="brand unity"></div>
			</a>

			<a class="integration-link" routerLink="/start/unreal">
				<div class="brand unreal-stacked"></div>
			</a>

			<a class="integration-link" routerLink="/start/godot">
				<div class="brand godot"></div>
			</a>
		</div>
		<p>
			Looking for other integrations? Make a <a>request</a> or
			<a>build your own</a>!
		</p>
	</article>
</ecsact-content>

<!-- <div class="container">
	<div class="top">
		<h1 class="header">Getting Started</h1>
		<h2>
			Learn about Ecsact and why it could be the right fit for your project
		</h2>
	</div>
	<div class="grid-container">
		<div class="grid-item">
			<nav>
				<a routerLink="/introduction">Introduction</a>
			</nav>
			<div>Ecsact is a language for ECS that can mainline your workflow</div>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/install">Install</a>
				<div>Download stand-alone or official engine integrations</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/docs">Documentation</a>
				<div>Read about how it works</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/tutorials">Tutorials</a>
				<div>Follow tutorials to quickly get comfortable</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/docs/ecs">Learn about ECS</a>
				<div>Learn ECS architecture and how it's driven by Ecsact</div>
			</nav>
		</div>
	</div>
</div> -->
