<div class="container">
	<div class="top">
		<h1 class="header">Getting Started</h1>
		<h2>
			Learn about Ecsact and why it could be the right fit for your project
		</h2>
	</div>
	<div class="grid-container">
		<div class="grid-item">
			<nav>
				<a routerLink="/introduction">Introduction</a>
			</nav>
			<div>Ecsact is a language for ECS that can mainline your workflow</div>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/install">Install</a>
				<div>Download stand-alone or official engine integrations</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/docs">Documentation</a>
				<div>Read about how it works</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/tutorials">Tutorials</a>
				<div>Follow tutorials to quickly get comfortable</div>
			</nav>
		</div>
		<div class="grid-item">
			<nav>
				<a routerLink="/docs/ecs">Learn about ECS</a>
				<div>Learn ECS architecture and how it's driven by Ecsact</div>
			</nav>
		</div>
	</div>
</div>
