/bazel-*
/node_modules
/user.bazelrc
/profile.json
/.firebase

# Generated reference XML used during development
/src/assets/_devref

# previous inputs saved
/scripts/*.inputs

# blender temp files
*.blend?
