{
	"singleQuote": true,
	"bracketSpacing": false,
	"bracketSameLine": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 2,
	"quoteProps": "as-needed",
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "css"
}
