<article>
	<h1>Using Ecsact with Unity and C#</h1>

	<section>
		<h2>Introduction</h2>
		<p>
			This will cover the basics of using Ecsact with Unity. We will create
			entities, add components and implement systems using C#. The scene
			<code>Basic Example</code> in
			<a href="https://github.com/ecsact-dev/unity-example" target="_blank"
				>unity-example</a
			>
			has all the contents of this tutorial.
		</p>

		<h3>Prerequisites</h3>
		<ol>
			<li>Supported version of Unity</li>
			<li><a routerLink="/start/unity">Ecsact Integration</a></li>
		</ol>
	</section>

	<section>
		<h2 id="ecsact">
			Writing the
			<a routerLink="/docs/lang">Ecsact</a> File
		</h2>
		<p>
			First, let's look at what we'll need in our
			<code>example.ecsact</code> file. We'll create a component with data, a
			tag component to remove it, and a system to handle runtime logic
		</p>
		<code-block-variation>
			<pre codeBlockVariationOption><code ecsactLangSyntax>
				component Example {{'{'}}
					i32 example_value;
				{{'}'}}

				component ToBeRemoved;

				system AddToExample {{'{'}}
					// A we will read and write to update and check a condition
					readwrite Example;
					// A tag component, removed when a condition is met
					removes ToBeRemoved;
				{{'}'}}
			</code></pre>
		</code-block-variation>
	</section>

	<section>
		<h2 id="create-entity">Creating an Entity</h2>

		<p>
			Great! We have a simple <code>.Ecsact</code> file we can build on. Now we
			can make a C# script in Unity, for our use it will be called
			<code>BasicExample.cs</code>. This script will allow us to
			<a href="/docs/unity/entities">create an entity</a> with some components
		</p>
		<p>We'll start by declaring the components we'll be adding to our entity</p>
		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
				// Declare an Example component type
				var exampleComponent = new example.Example {{'{'}}
					example_value = 5,
				{{'}'}};

				var removeComponent = new example.ToBeRemoved {{'{'}}{{'}'}};
			</code></pre>
		</code-block-variation>

		<p>
			Components can be declared from the namespace that is dervied from the
			name of your package in the <code>.ecsact</code> file. Now that we have
			our components, we can add them to a newly created entity using the
			Runner's <code>executionOptions</code>
		</p>

		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
				Ecsact.Defaults.Runner.executionOptions
					.CreateEntity()
					.AddComponent(exampleComponent)
					.AddComponent(removeComponent);
			</code></pre>
		</code-block-variation>
	</section>
	<section>
		<h2 id="listeners">Runtime Listeners</h2>
		<p>
			The <a href="docs/unity/defaults">Runtime</a> gives you access to
			everything used during Unity's runtime. For example, listeners can be
			added for changes to component state or when an entity is created or
			destroyed.
		</p>

		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
				// Added on the class to cleanup event listeners
				List<{{'System.Action'}}> cleanUpFns = new();

				cleanUpFns.AddRange(new[] {{'{'}}
					// Callback invoked when Example component is added
					Ecsact.Defaults.Runtime.OnInitComponent<{{'example.Example'}}>((entity, component) => {{'{'}}
						Debug.Log("Example component added");
						Debug.Log(component.example_value);
					{{'}'}}),
					// Callback invoked when Example component is updated
					Ecsact.Defaults.Runtime.OnUpdateComponent<{{'example.Example'}}>((entity, component) => {{'{'}}
						Debug.Log(component.example_value);
					{{'}'}}),
					// Callback invoked when Example component is removed
					Ecsact.Defaults.Runtime.OnRemoveComponent<{{'example.ToBeRemoved'}}>((entity, component) => {{'{'}}
						Debug.Log("Example component removed");
					{{'}'}}),
					// Callback invoked on the creation of an entity
					Ecsact.Defaults.Runtime.OnEntityCreated((entityId, placeholderId) => {{'{'}}
						Debug.Log("Entity created");
					{{'}'}})
				{{'}'}});
			</code></pre>
		</code-block-variation>
	</section>

	<section>
		<p>When the class is destroyed the listeners will be cleaned up</p>
		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
			void OnDestroy() {{'{'}}
				foreach(var cleanUpFn in cleanUpFns) {{'{'}}
					cleanUpFn();
				{{'}'}}
			{{'}'}}
		</code></pre>
		</code-block-variation>
	</section>

	<section>
		<h2 id="system-implement">
			Implementing a <a routerLink="/docs/unity/system-impl">System</a>
		</h2>
		<p>
			Now the entity has components, which will cause our system to trigger. Now
			we need to implement the system for it to happen. If you haven't setup
			your <a routerLink="/start/unity">Assembly Definition</a> now is the time.
			If the script is not part of an assembly, it will not be found. We'll name
			our new system script
			<code>BasicExampleSystem.cs</code>
		</p>
		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
				public class BasicExampleSystem : MonoBehaviour {{'{'}}
					// Note: Systems need to be public and static
					[Ecsact.DefaultSystemImpl(typeof(example.AddToExample))]
					public static void AddToExampleSystem
						( EcsactRuntime.SystemExecutionContext context
						)
					{{'{'}}
						// Get a component from the context
						var value = context.Get<{{'example.Example'}}>();

						// Modify and update its value
						value.example_value +=1;
						context.Update<{{'example.Example'}}>(value);

						if(value.example_value >= 100) {{'{'}}
							// Remove the component from the context
							context.Remove<{{'example.ToBeRemoved'}}>();
						{{'}'}}
					{{'}'}}
				{{'}'}}
			</code></pre>
		</code-block-variation>

		<p>
			Every tick, which in this example occurs on <code>fixed update</code> the
			example_value is increased by 1. Once it reaches a certain value, the
			component <code>ToBeRemoved</code> is removed. After this the entity no
			longer has the required components to continue being iterated over.
		</p>

		<img src="/assets/BasicExampleSuccess.png" height="300" width="400" />
		<p>
			Assuming things worked, <code>example_value</code> will increase until it
			reaches 100. Then on its conclusion you should see the
			<code>OnRemoveComponent</code> callback
		</p>
	</section>
	<section>
		<h2 id="next-steps">Next Steps</h2>
		<p>
			This taught you the basics of using Ecsact with Unity. If you want to
			learn more about Unity Sync and Nested Systems, check out
			<a href="start/tutorials/unity/moving-block">Example Using Unity Sync</a>
		</p>
	</section>
</article>
