pre {
	margin: 0px -32px;
	padding: 16px 32px;
	background-color: #182122;
}

h3 {
	border-bottom-color: rgba(255, 255, 255, 0.496);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 40px;
	font-size: 1.3em;
}

h4 {
	border-bottom-color: rgba(255, 255, 255, 0.179);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 32px;
	font-size: 1.17em;
}
