.compounds-view-by-kind-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;

	> * {
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 250px;
	}
}

li.compound-list-item {
	font-family: 'Noto Sans Mono', monospace;

	a {
		direction: ltr;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:hover {
			direction: rtl;
		}
	}
}
