<ecsact-sidenav>
	<ecsact-sidenav-section>
		<a
			routerLink="/start"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			>Overview</a
		>
		<a
			routerLink="/start/tutorials/first-ecsact-file"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			><span class="i24 mr-2">school</span>Your first Ecsact file</a
		>
		<a
			routerLink="/start/tutorials/systems-in-cpp"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			><span class="i24 mr-2">school</span>Systems in C++</a
		>
		<a
			routerLink="/start/tutorials/cpp-to-wasm"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			><span class="i24 mr-2">school</span>C++ to Wasm</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Integrations">
		<ecsact-sidenav-section title="Unity">
			<a routerLink="/start/unity" routerLinkActive="active">Setup</a>

			<a routerLink="tutorials/unity/basic-example" routerLinkActive="active"
				><span class="i24 mr-2">school</span>Fundamentals</a
			>
			<a routerLink="tutorials/unity/moving-block" routerLinkActive="active"
				><span class="i24 mr-2">school</span>Moving Block</a
			>
			<!-- NOTE(Kelwan): Temporarily disabled until recipe for the async reference is implemented -->
			<!-- <a routerLink="tutorials/unity/using-async" routerLinkActive="active">
				<span class="i24 mr-2">school</span>Using Async
			</a> -->
		</ecsact-sidenav-section>
		<ecsact-sidenav-section title="Ecsact CLI">
			<a routerLink="/start/cli" routerLinkActive="active">Overview</a>
		</ecsact-sidenav-section>
		<ecsact-sidenav-section title="Unreal Engine">
			<a routerLink="/start/unreal" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Setup</a>
			<a routerLink="/start/unreal/runtime" routerLinkActive="active">Runtime</a>
			<a routerLink="/start/unreal/codegen" routerLinkActive="active">Codegen</a>
			<a routerLink="/start/unreal/runner" routerLinkActive="active">Runner</a>
			<a routerLink="/start/unreal/subsystems" routerLinkActive="active">Subsystems</a>
		</ecsact-sidenav-section>
		<ecsact-sidenav-section title="Godot">
			<a routerLink="/start/godot" routerLinkActive="active"
				>Ecsact Godot Overview</a
			>
		</ecsact-sidenav-section>
		<ecsact-sidenav-section title="Custom">
			<a routerLink="/start/custom" routerLinkActive="active"
				>Custom Integration Overview</a
			>
		</ecsact-sidenav-section>
	</ecsact-sidenav-section>
</ecsact-sidenav>

<ecsact-content>
	<router-outlet></router-outlet>
</ecsact-content>
