<article>
	<div class="my-4 pb-4">
		<div class="flex flex-col sm:flex-row items-center justify-center">
			<div class="relative w-32 h-28">
				<div
					style="
						animation-delay: 700ms;
						animation-duration: 500ms;
						animation-fill-mode: forwards;
					"
					class="animate-fade-out bg-logoBlack dark:bg-logoWhite bg-no-repeat bg-contain bg-center z-10 absolute top-0 left-0 bottom-0 right-0"></div>
				<div
					style="
						animation-delay: 600ms;
						animation-duration: 500ms;
						animation-fill-mode: backwards;
					"
					class="animate-fade-slide-right bg-logoColor bg-no-repeat bg-contain bg-center z-20 absolute top-0 left-0 bottom-0 right-0"></div>
			</div>
			<div class="flex flex-col gap-2 sm:pr-3">
				<h1 id="install" class="text-5xl max-w-sm m-0">
					Install Ecsact
				</h1>

				<div class="flex flex-row space-x-2 items-center">
					<div class="text-2xl">Platform</div>
					<select
						class="btn flex-grow"
						[(ngModel)]="selectedOs"
						[ngModelOptions]="{standalone: true}">
						<option *ngFor="let opt of osOptions" [value]="opt.value">
							{{ opt.name }}
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div [ngSwitch]="selectedOs" class="my-4">
		<div *ngSwitchCase="'Windows 10'">
			<p class="text-center max-w-md mx-auto">
				<a
					class="btn text-primary bg-primary-bright text-2xl"
					download
					href="https://ecsact.dev/ecsact_sdk.appinstaller">
					<span class="flex flex-row space-x-2 items-center">
						<span class="text-black i48 text-4xl font-bold">download</span>
						<span class="text-black font-bold">Install with app installer</span>
					</span>
				</a>
			</p>
			<p class="text-center max-w-md mx-auto text-sm">
				See
				<a
					href="https://github.com/ecsact-dev/ecsact_sdk/releases"
					target="_blank"
					>latest release on GitHub</a
				>
				for other options.
			</p>
		</div>

		<div *ngSwitchCase="'Linux'" class="sm:mx-auto">
			<code-block-variation
				class="my-4 sm:mx-auto sm:rounded-lg sm:py-4 sm:px-8 sm:w-fit">
				<pre
					codeBlockVariationOption
					optionTitle="Shell"><code prism language="bash">
					curl https://ecsact.dev/install.sh -sSfL | sh
				</code></pre>
			</code-block-variation>
			<p class="text-center max-w-md mx-auto text-sm">
				See
				<a
					href="https://github.com/ecsact-dev/ecsact_sdk/releases"
					target="_blank"
					>latest release on GitHub</a
				>
				for other options.
			</p>
		</div>

		<div *ngSwitchCase="'Mac OS'">
			<p class="max-w-md mx-auto text-center">
				<span class="i24 mr-1">info</span>
				<span>Not available on macOS <strong>(yet)</strong></span>
			</p>
			<p class="text-center max-w-md mx-auto">
				<a
					class="btn text-black bg-secondary text-xl text-center"
					href="https://github.com/ecsact-dev/ecsact_sdk/issues/169"
					target="_blank">
					<span class="flex flex-row space-x-2 items-center">
						<span class="text-black font-bold"
							>GitHub macOS tracking issue</span
						>
						<span class="text-black i24 text-xl font-bold">open_in_new</span>
					</span>
				</a>
			</p>
		</div>

		<p *ngSwitchDefault>
			<span class="i24">info</span>
			Ecsact SDK is not available for <strong>{{ selectedOs }}</strong
			>.
		</p>
	</div>
	
	<div class="max-w-xl mx-auto my-8">
	<h2 id="integrations" class="text-3xl">Integrations</h2>
	<p>After you've installed the Ecsact SDK check out our integrations or start using the Ecsact CLI immediately in your favourite terminal.</p>
	<div class="grid grid-flow-col-dense gap-8 my-8">
		<a
			class="aspect-square rounded-lg shadow-lg border border-transparent hover:border-secondary transition-colors bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/unity">
			<div class="brand unity w-full h-full"></div>
		</a>
		<a
			class="aspect-square rounded-lg shadow-lg border border-transparent hover:border-secondary transition-colors bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/cli">
			<div class="w-full h-full relative text-center">
				<div class="absolute translate-y-[-50%] top-[50%] left-0 right-0">
					<span class="i48 text-text text-[600%]">terminal</span>
					<div class="text-text relative text-lg font-mono top-[-20px]">Ecsact CLI</div>
				</div>
			</div>
		</a>
	</div>

	<h3 id="integrations-coming-soon" class="text-3xl">Coming Soon</h3>
	<div class="grid grid-flow-col-dense gap-8 my-8 opacity-50">
		<a
			class="aspect-square rounded-lg shadow-lg border border-transparent hover:border-secondary transition-colors bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/unreal">
			<div class="brand unreal-stacked w-full h-full"></div>
		</a>

		<a
			class="aspect-square rounded-lg shadow-lg border border-transparent hover:border-secondary transition-colors bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/godot">
			<div class="brand godot w-full h-full"></div>
		</a>
	</div>

	<p class="text-center my-8">
		Looking for other integrations?<br>
		Make a
		<a href="https://github.com/ecsact-dev/proposals#integrations">request</a>
		or <a routerLink="/start/custom">build your own</a>!
	</p>
	</div>
</article>
