<ecsact-sidenav>
	<ecsact-sidenav-section>
		<a
			routerLink="/start"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			>Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Unity">
		<a routerLink="/start/unity" routerLinkActive="active">Setup</a>
		<ecsact-sidenav-section title="Tutorials">
			<a routerLink="/tutorials/unity/basic-example" routerLinkActive="active"
				>Basics</a
			>
			<a routerLink="/tutorials/unity/moving-block" routerLinkActive="active"
				>Example Using Unity Sync</a
			>
		</ecsact-sidenav-section>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Unreal Engine">
		<a routerLink="/start/unreal" routerLinkActive="active"
			>Ecsact Unreal Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Godot">
		<a routerLink="/start/godot" routerLinkActive="active"
			>Ecsact Godot Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="Custom">
		<a routerLink="/start/custom" routerLinkActive="active"
			>Custom Integration Overview</a
		>
	</ecsact-sidenav-section>
</ecsact-sidenav>

<ecsact-content>
	<router-outlet></router-outlet>
</ecsact-content>
