<article>
	<div class="my-4">
		<div class="flex flex-col sm:flex-row items-center justify-center">
			<div class="relative w-28 h-24">
				<div
					style="
						animation-delay: 700ms;
						animation-duration: 500ms;
						animation-fill-mode: forwards;
					"
					class="animate-fade-out bg-logoBlack dark:bg-logoWhite bg-no-repeat bg-contain bg-center z-10 absolute top-0 left-0 bottom-0 right-0"></div>
				<div
					style="
						animation-delay: 600ms;
						animation-duration: 500ms;
						animation-fill-mode: backwards;
					"
					class="animate-fade-slide-right bg-logoColor bg-no-repeat bg-contain bg-center z-20 absolute top-0 left-0 bottom-0 right-0"></div>
			</div>
			<h1 id="install" class="text-5xl font-bold max-w-sm m-0">
				Install Ecsact
			</h1>
		</div>
	</div>

	<div class="my-4 mx-auto max-w-md text-center">
		<div class="flex flex-row space-x-2 items-center justify-center">
			<div class="text-xl font-bold">Platform</div>
			<select
				class="btn"
				[(ngModel)]="selectedOs"
				[ngModelOptions]="{standalone: true}">
				<option *ngFor="let opt of osOptions" [value]="opt.value">
					{{ opt.name }}
				</option>
			</select>
		</div>
	</div>

	<div [ngSwitch]="selectedOs" class="my-4">
		<div *ngSwitchCase="'Windows 10'">
			<p class="text-center max-w-md mx-auto">
				<a
					class="btn text-primary bg-primary-bright text-2xl"
					download
					href="https://ecsact.dev/ecsact_sdk.appinstaller">
					<span class="flex flex-row space-x-2 items-center">
						<span class="text-black i48 text-4xl font-bold">download</span>
						<span class="text-black font-bold">Install with app installer</span>
					</span>
				</a>
			</p>
			<p class="text-center max-w-md mx-auto text-sm">
				See
				<a
					href="https://github.com/ecsact-dev/ecsact_sdk/releases"
					target="_blank"
					>latest release on GitHub</a
				>
				for other options.
			</p>
		</div>

		<div *ngSwitchCase="'Linux'" class="sm:mx-auto">
			<code-block-variation
				class="my-4 sm:mx-auto sm:rounded-lg sm:py-4 sm:px-8 sm:w-fit">
				<pre
					codeBlockVariationOption
					optionTitle="Shell"><code prism language="bash">
					curl https://ecsact.dev/install.sh -sSfL | sh
				</code></pre>
			</code-block-variation>
			<p class="text-center max-w-md mx-auto text-sm">
				See
				<a
					href="https://github.com/ecsact-dev/ecsact_sdk/releases"
					target="_blank"
					>latest release on GitHub</a
				>
				for other options.
			</p>
		</div>

		<div *ngSwitchCase="'Mac OS'">
			<p class="max-w-md mx-auto text-center">
				<span class="i24 mr-1">info</span>
				<span>Not available on macOS <strong>(yet)</strong></span>
			</p>
			<p class="text-center max-w-md mx-auto">
				<a
					class="btn text-black bg-secondary text-xl text-center"
					href="https://github.com/ecsact-dev/ecsact_sdk/issues/169"
					target="_blank">
					<span class="flex flex-row space-x-2 items-center">
						<span class="text-black font-bold"
							>GitHub macOS tracking issue</span
						>
						<span class="text-black i24 text-xl font-bold">open_in_new</span>
					</span>
				</a>
			</p>
		</div>

		<p *ngSwitchDefault>
			<span class="i24">info</span>
			Ecsact SDK is not available for <strong>{{ selectedOs }}</strong
			>.
		</p>
	</div>

	<h2 id="integrations">Integrations</h2>
	<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
		<a
			class="h-40 rounded-md bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/unity">
			<div class="brand unity w-full h-full"></div>
		</a>

		<a
			class="h-40 rounded-md bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/unreal">
			<div class="brand unreal-stacked w-full h-full"></div>
		</a>

		<a
			class="h-40 rounded-md bg-black/5 dark:bg-black/50 py-4 px-8"
			routerLink="/start/godot">
			<div class="brand godot w-full h-full"></div>
		</a>
	</div>
	<p>
		Looking for other integrations? Make a
		<a href="https://github.com/ecsact-dev/proposals#integrations">request</a>
		or <a routerLink="/start/custom">build your own</a>!
	</p>
</article>
