<article>
	<div class="flex flex-col md:flex-row gap-6 max-w-4xl mx-auto">
		<div class="always-dark text-secondary hover:text-primary-bright transition-colors min-w-[350px] text-xs text-left m-auto bg-[black] rounded-lg p-4 py-8 border">
			<ecsact-typed-ascii-logo />
		</div>
		<div class="flex-grow">
			<h1><span class="i48">terminal</span> The Ecsact CLI</h1>
			<p>
				The Ecsact Command Line Interface (CLI) is the bare bones tool for working with Ecsact. It's what powers all Ecsact integrations and customizations.
			</p>
		</div>
	</div>
</article>
