.step {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--color-text);
	border-right: none;

	.sys {
		padding: 8px;
		border-right: 1px solid var(--color-text);
		flex: auto;
		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
