<div></div>
<div class="main-container">
	<main #mainContent (cdkObserveContent)="onContentChange($event)">
		<ng-content></ng-content>
	</main>
	<div class="main-content-scroll-buffer">
		<div class="flex-auto"></div>
		<div
			class="mb-6 mt-32 mx-auto sticky bottom-8 group cursor-pointer hover:drop-shadow-lg rounded-t-md rounded-b-2xl bg-white dark:bg-black p-4"
			(click)="scrollToTop()">
			<div class="w-16 h-16 text-center text-6xl m-auto">
				<span class="i48 relative block group-hover:animate-bounce"
					>keyboard_double_arrow_up</span
				>
			</div>
			<div
				class="text-center text-sm opacity-0 transition-opacity select-none group-hover:opacity-100"
				aria-hidden="true">
				Scroll to top
			</div>
		</div>
		<div>end ~ 👈(ﾟヮﾟ👈)</div>
	</div>
</div>

<div>
	<div class="page-anchors-container">
		<div class="page-anchors border-l-2 border-primary border-solid">
			<div><strong>On this page</strong></div>
			<a
				*ngFor="let pageAnchor of pageAnchors; trackBy: trackBy"
				[routerLink]=""
				[replaceUrl]="true"
				[fragment]="pageAnchor.id"
				[style.padding-left]="pageAnchor.indent * 8"
				[class.active]="activePageAnchorId === pageAnchor.id">
				{{ pageAnchor.title }}
			</a>
		</div>
	</div>
</div>
