<div></div>
<div class="main-container">
	<main #mainContent (cdkObserveContent)="onContentChange($event)">
		<ng-content></ng-content>
	</main>
	<div class="main-content-scroll-buffer">
		<div style="flex: auto"></div>
		<div>end ~ 👈(ﾟヮﾟ👈)</div>
	</div>
</div>

<div>
	<div class="page-anchors-container">
		<div class="page-anchors">
			<div><strong>On this page</strong></div>
			<a
				*ngFor="let pageAnchor of pageAnchors; trackBy: trackBy"
				[routerLink]=""
				[fragment]="pageAnchor.id"
				[style.padding-left]="pageAnchor.indent * 8"
				[class.active]="activePageAnchorId === pageAnchor.id">
				{{ pageAnchor.title }}
			</a>
		</div>
	</div>
</div>
