:host {
	display: grid;
	grid-gap: 16px;
	grid-template-columns:
		minmax(var(--side-nav-width), 1fr)
		minmax(700px, 1200px)
		minmax(230px, 1fr);
}

.main-content-scroll-buffer {
	// This extra buffer is for usability sake when clicking or linking anchors.
	// Scrolling to an anchor will properly scroll without issue.
	height: 90vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.page-anchors-container {
	position: sticky;
	top: var(--top-nav-height);
	padding-top: 32px;
}

.page-anchors {
	font-size: 80%;
	padding-left: 6px;
	box-sizing: border-box;
	min-height: 48px;

	a {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&.active {
			font-weight: bold;
		}
	}
}

@media (max-width: 1280px) {
	:host {
		grid-template-columns:
			minmax(var(--side-nav-width), 1fr)
			minmax(700px, 1200px)
			minmax(0px, 0px);
	}

	.page-anchors {
		display: none;
	}
}

@media (max-width: 1044px) {
	:host {
		grid-template-columns:
			minmax(0px, 0px)
			minmax(0px, 1200px)
			minmax(0px, 0px);
	}
}

@media (max-width: 599px) {
	:host {
		display: block;
	}

	main {
		margin: 0;
	}
}
