<div class="container">
	<div class="header">
		<h1>An introduction to Ecscact</h1>
		<h2>Ecsact is the language for general ECS (Entity Component System.)</h2>
		<h3>Key Features</h3>
	</div>
	<div class="grid-container">
		<div class="grid-item">
			Declare your components and systems in easy to read, separable files
		</div>
		<div class="grid-item">
			Use actions to punch holes into your systems execution
		</div>
		<div class="grid-item">
			Hot reload your system implementations on the fly
		</div>
		<div class="grid-item">
			Integrate seamlessly with Unreal and Unity or build your own (it's open
			source!)
		</div>
		<div class="grid-item">
			Ecsact is deterministic and built with networking in mind
		</div>
	</div>
</div>
