:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

nav.top-nav {
	position: sticky;
	top: 0px;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	min-height: var(--top-nav-height);
	max-height: var(--top-nav-height);
	box-sizing: border-box;

	a {
		flex-direction: row;
		align-items: center;
		padding: 0 16px;
		text-decoration: none;
		white-space: nowrap;
		opacity: 1;
		transition: 300ms ease-out opacity;
	}

	.search-flex {
		flex: auto;
	}

	.after-search {
		width: 16px;
	}

	ecsact-search {
		width: 240px;
		@media (max-width: 799px) {
			width: 44px;
		}
	}

	&.search-focused {
		$search-width: 600px;

		a {
			opacity: 0;
			user-select: none;
			pointer-events: none;
		}

		.after-search,
		.before-search {
			width: calc(50vw - #{$search-width * 0.5});
		}

		ecsact-search {
			width: $search-width;
		}

		@media (max-width: #{$search-width}) {
			ecsact-search {
				width: 100%;
			}
		}
	}
}

.router-outline-container {
	z-index: 1;
	flex: 1;
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	font-size: 0.8em;
	min-height: 100px;
	max-height: 100px;
	@media (max-width: 500px) {
		min-height: 60px;
		max-height: 60px;
	}
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
