<nav class="top-nav bg-secondary" [class.search-focused]="search.isFocused()">
	<div class="before-search">
		<a
			class="bg-logoBlack bg-contain bg-center bg-no-repeat w-16"
			routerLink="/">
		</a>
		<a routerLink="/start" routerLinkActive="active" class="text-black">
			<span>Start</span>
		</a>
		<a routerLink="/docs/overview" routerLinkActive="active" class="text-black">
			<span>Documentation</span>
		</a>
		<a routerLink="/reference" routerLinkActive="active" class="text-black">
			<span>Reference</span>
		</a>
		<a routerLink="/tutorials" routerLinkActive="active" class="text-black">
			<span>Tutorials</span>
		</a>
	</div>
	<div class="search-flex"></div>
	<ecsact-search #search></ecsact-search>
	<div class="after-search"></div>
</nav>

<div class="router-outline-container">
	<router-outlet></router-outlet>
</div>

<footer>
	<div>
		Found a problem?
		<a href="https://github.com/ecsact-dev/website/issues" target="_blank"
			>Submit an issue on GitHub!</a
		>
	</div>
	<div>Copyright &copy; Seaube Software CORP. 2022</div>
</footer>
