<div class="top">
	<div class="top-bg"></div>

	<nav class ="home-nav-items">
		<a class="home-nav-item" routerLink="/">Home</a>
		<a class="home-nav-item"
			routerLink="/introduction" routerLinkActive="active">Introduction
		</a>
		<a class="home-nav-item"
			routerLink="/install" routerLinkActive="active">Install
		</a>
		<a class="home-nav-item" routerLink="/docs"
			routerLinkActive="active">Docs
		</a>
		<a class="home-nav-item" routerLink="/reference"
			routerLinkActive="true">Reference
		</a>
		<a class="home-nav-item"
			routerLink="/tutorials" routerLinkActive="active">Tutorials
		</a>
	</nav>

</div>

<div class="router-outline-container">
	<router-outlet></router-outlet>
</div>

<footer>
	<a>contact@seaube.com</a>
	<div>Copyright &copy; Seaube Software CORP. 2022</div>
</footer>
