:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-box {
	$search-results-max-height: 400px;

	width: 400px;
	border-radius: 4px;
	border: 1px solid transparent;
	background-color: white;
	padding: 8px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
	transition: 100ms ease border-color, 300ms ease box-shadow;

	&.has-input {
		border-color: grey;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
	}

	input {
		border: 0;
		padding: 4px 0px;
		margin: 0px;
		width: 100%;
		font-size: 16px;
		flex: 1;
		outline: none;
		background: transparent;
	}

	.search-results {
		overflow-y: auto;
		padding: 8px 0px;
		max-height: $search-results-max-height;

		@media (max-height: #{$search-results-max-height}) {
			max-height: 100vh;
		}

		.search-results-item {
			display: block;
			cursor: pointer;
			padding: 8px;

			@media (hover: hover) {
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
		}
	}

	.search-input-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		background-color: lightgrey;
		border-radius: 4px;
		padding: 4px 12px;
		outline: none;
		border: 2px solid lightgrey;
		transition: 100ms ease background-color;

		&:focus {
			background-color: white;
		}
	}
}
