<div class="search-box" [class.has-input]="!!searchInput.value">
	<label class="search-input-container">
		<span class="i24">search</span>

		<input
			#searchInput
			type="search"
			(input)="onSearchInputChange()"
			(focus)="onFocus()"
			(blur)="onBlur()"
			placeholder="Search" />

		<span class="focus-key-container" *ngIf="!isFocused()">
			<pre class="focus-key">{{ searchFocusKey }}</pre>
		</span>
	</label>

	<div class="search-results-container" #searchResultsContainer>
		<div *ngIf="isFocused()" class="search-results thin-scroll">
			<p *ngIf="!(searchReady$ | async)" style="text-align: center">
				Loading...
			</p>

			<a
				*ngFor="let compound of compounds; trackBy: compoundsTrackBy"
				tabindex="0"
				class="search-results-item"
				[routerLink]="'/reference/ecsact/' + compound.refid">
				<div class="search-results-item-title">
					<code class="compound-title">{{ compound.name }}</code>
					<div style="flex: auto"></div>
					<code class="inverse-color-scheme">{{ compound.kind }}</code>
				</div>
				<div class="search-results-item-category">
					reference / ecsact
					<ng-container *ngIf="compound.owner"
						>/ <code>{{ compound.owner?.name }}</code></ng-container
					>
				</div>
			</a>

			<p
				*ngIf="compounds.length === 0 && !pendingInput"
				style="text-align: center">
				No Results
			</p>
		</div>
	</div>
</div>
