<div class="search-box" [class.has-input]="!!searchInput.value">
	<label class="search-input-container">
		<span class="i24">search</span>

		<input
			#searchInput
			type="search"
			(input)="onSearchInputChange()"
			(focus)="onFocus()"
			(blur)="onBlur()"
			placeholder="Search" />

		<span class="focus-key-container" *ngIf="!isFocused()">
			<pre class="focus-key">{{ searchFocusKey }}</pre>
		</span>
	</label>

	<div class="search-results-container" #searchResultsContainer>
		<div *ngIf="isFocused()" class="search-results thin-scroll">
			<p *ngIf="!(searchReady$ | async)" style="text-align: center">
				Loading...
			</p>

			<ng-container
				*ngFor="
					let searchItem of searchResultItems;
					trackBy: searchItemTrackBy
				">
				<a
					*ngIf="searchItem.type === 'reference'"
					tabindex="0"
					class="search-results-item"
					[routerLink]="
						'/reference/' + searchItem.repo + '/' + searchItem.item.refid
					">
					<div class="search-results-item-title">
						<span class="i24">code</span>
						<code class="reference-title">{{ searchItem.item.name }}</code>
						<div style="flex: auto"></div>
						<code class="reference-kind inverse-color-scheme">{{
							searchItem.item.kind
						}}</code>
					</div>
					<div class="search-results-item-category">
						reference / {{ searchItem.repo }}
					</div>
				</a>

				<a
					*ngIf="searchItem.type === 'page'"
					tabindex="0"
					[routerLink]="searchItem.path"
					[fragment]="searchItem.fragment || undefined"
					class="search-results-item">
					<div class="search-results-item-title">
						<span class="i24">article</span>
						<strong>{{ searchItem.item.title }}</strong>
					</div>
					<div class="search-results-item-category">
						{{ searchItem.item.description || '(no description)' }}
					</div>
				</a>
			</ng-container>

			<p
				*ngIf="searchResultItems.length === 0 && !pendingInput"
				style="text-align: center">
				No Results
			</p>
		</div>
	</div>
</div>
