<div class="search-box" [class.has-input]="!!searchInput.value">
	<label class="search-input-container">
		<span class="i24">search</span>

		<input
			#searchInput
			type="search"
			(input)="onSearchInputChange()"
			(focus)="onFocus()"
			(blur)="onBlur()"
			placeholder="Search" />

		<span class="focus-key-container" *ngIf="!isFocused()">
			<pre class="focus-key">{{ searchFocusKey }}</pre>
		</span>
	</label>

	<div class="search-results-container" #searchResultsContainer>
		<div *ngIf="isFocused()" class="search-results thin-scroll">
			<p *ngIf="!(searchReady$ | async)" style="text-align: center">
				Loading...
			</p>

			<a
				*ngFor="let compound of compounds; trackBy: compoundsTrackBy"
				tabindex="0"
				class="search-results-item"
				[routerLink]="'/reference/ecsact/' + compound.refid">
				<strong>{{ compound.name }}</strong>
				<span
					style="
						display: inline-block;
						margin: 8px;
						border-radius: 4px;
						background-color: grey;
						padding: 2px 4px;
						color: white;
					"
					>{{ compound.kind }}</span
				>
			</a>

			<p
				*ngIf="compounds.length === 0 && !pendingInput"
				style="text-align: center">
				No Results
			</p>
		</div>
	</div>
</div>
