<ng-template #projectTpl let-project>
	<section
		class="group rounded-lg shadow-lg bg-secondary/20 dark:text-white py-2 px-4 my-4">
		<h2>{{ project.title }}</h2>
		<p>{{ project.shortDescription }}</p>
		<div [outerHTML]="project.readmeHtml"></div>
		<div class="flex flex-row relative items-center px-1">
			<div
				class="rounded-full w-8 h-8 bg-success ring-2 shadow-lg ring-black dark:ring-white"></div>
			<div
				class="flex-1 border-b-2 border-black dark:border-white border-solid"></div>
			<div
				class="rounded-full w-8 h-8 bg-transparent ring-2 shadow-lg ring-black dark:ring-white overflow-hidden">
				<div
					class="rounded-full group-hover:animate-pulse w-full h-full bg-primary blur-lg"></div>
			</div>
			<div
				class="flex-1 border-b-2 border-black dark:border-white border-dashed"></div>
			<div
				class="rounded-full w-8 h-8 bg-transparent ring-2 shadow-lg ring-black dark:ring-white overflow-hidden"></div>
		</div>
		<p class="flex flex-row justify-end text-sm mb-0 mt-4">
			<a
				target="_blank"
				[href]="'https://github.com/orgs/ecsact-dev/projects/' + project.number"
				><span class="i24">open_in_new</span> View GitHub Project</a
			>
		</p>
	</section>
</ng-template>

<ng-template #projectAccordionItemTpl let-projects="projects" let-title="title">
	<button *ngIf="!!title" (click)="accordionItem.toggle()">
		<h2 class="flex flex-row items-center space-x-2">
			<span class="i48 mr-1">{{
				accordionItem.expanded ? 'expand_more' : 'chevron_right'
			}}</span>
			<span>{{ title }}</span>
			<span
				class="px-2 py-1 rounded bg-content-bg border text-xs"
				>{{ projects.length }}</span
			>
		</h2>
	</button>
	<div class="overflow-hidden">
		<div
			#accordionItem="cdkAccordionItem"
			cdkAccordionItem
			[class.hidden]="!accordionItem.expanded && !!title"
			[class.block]="accordionItem.expanded || !title"
			[class.animate-slide-down]="accordionItem.expanded || !title">
			<ng-container *ngFor="let project of projects">
				<ng-container
					*ngTemplateOutlet="
						projectTpl;
						context: {$implicit: project}
					"></ng-container>
			</ng-container>
		</div>
	</div>
</ng-template>

<ng-template #loadingProjects>
	<section
		class="group rounded-lg shadow-lg bg-secondary/20 dark:text-white py-2 px-4 my-4">
		<h2
			class="text-white/0 animate-pulse rounded-lg inline-block bg-secondary/50">
			LOADING
		</h2>
		<p
			class="text-white/0 animate-pulse rounded-lg inline-block bg-black dark:bg-white">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel massa
			tincidunt, feugiat magna vel, accumsan ante. Aliquam nec accumsan neque.
			Phasellus vestibulum finibus justo.
		</p>
		<div class="flex flex-row relative items-center px-1 animate-pulse">
			<div
				class="rounded-full w-8 h-8 bg-transparent ring-2 shadow-lg ring-black dark:ring-white"></div>
			<div
				class="flex-1 border-b-2 border-black dark:border-white border-dashed"></div>
			<div
				class="rounded-full w-8 h-8 bg-transparent ring-2 shadow-lg ring-black dark:ring-white"></div>
			<div
				class="flex-1 border-b-2 border-black dark:border-white border-dashed"></div>
			<div
				class="rounded-full w-8 h-8 bg-transparent ring-2 shadow-lg ring-black dark:ring-white overflow-hidden"></div>
		</div>
		<p class="flex flex-row justify-end text-sm mb-0 mt-4">
			<a
				class="text-white/0 animate-pulse rounded-lg inline-block bg-black dark:bg-white"
				><span class="i24">open_in_new</span> View GitHub Project</a
			>
		</p>
	</section>
</ng-template>

<ng-template #errorLoadingProjects>
	<p class="text-center">
		<span class="i24">error</span> Whoops! Failed to load roadmap projects.
		Thankfully they're also available on Github.
	</p>
	<p>
		<a class="btn" href="https://github.com/orgs/ecsact-dev/projects"
			>View GitHub Projects</a
		>
	</p>
</ng-template>

<article class="max-w-3xl mx-auto my-8 p-8">
	<div class="flex flex-col lg:flex-row lg:items-center lg:justify-center">
		<div class="brand ecsact-color self-stretch hidden lg:block flex-[1]"></div>
		<div class="flex-[2]">
			<h1>Roadmap</h1>
			<p>
				The Ecsact roadmap is driven by the
				<a href="https://github.com/orgs/ecsact-dev/projects"
					>ecsat-dev GitHub org projects</a
				>. Take a look to see whats upcoming or what you may want to contribute
				towards. If you're looking to suggest features, take a look at our
				<a href="https://github.com/ecsact-dev/proposals"
					>proposals repository</a
				>.
			</p>
		</div>
	</div>

	<hr class="mb-4" />

	<ng-container *ngIf="projects$ | async as projects; else loadingProjects">
		<cdk-accordion *ngIf="projects; else errorLoadingProjects">
			<ng-container
				*ngTemplateOutlet="
					projectAccordionItemTpl;
					context: {
						projects: projects[RoadmapItemStatus.InProgress],
						title: ''
					}
				"></ng-container>

			<ng-container
				*ngTemplateOutlet="
					projectAccordionItemTpl;
					context: {
						projects: projects[RoadmapItemStatus.Planning],
						title: 'Planning'
					}
				"></ng-container>
		</cdk-accordion>
	</ng-container>
</article>
