<article>
	<h1>Using the Async Runner</h1>

	<section>
		<h2 id="introduction">Introduction</h2>
		<p>
			This tutorial will show to implement both the
			<a href="start/tutorials/unity/basic-example">basic-example</a> and
			<a href="start/tutorials/unity/moving-block">moving-block</a> tutorials
			with async. You don't need to do those tutorials before this one but they
			are recommended. If you just want to try out async you can go to the
			<code>AsyncMenu</code> scene in the
			<a href="https://github.com/ecsact-dev/unity-example" target="_blank"
				>unity-example</a
			>
			repo.
		</p>

		<p>
			The purpose of this tutorial and its simple menu is to start a connection
			with the async reference.
		</p>
		<h3>Prerequisites</h3>
		<ol>
			<li>Supported version of Unity</li>
			<li>Ecsact SDK</li>
			<li>Ecsact Integration</li>
			<li>Unity Sync</li>
		</ol>
	</section>

	<section>
		<h2 id="Enable Runner">Enable the Async Runner</h2>
		<p>
			To change to the Async <a href="docs/unity/defaults#runner">Runner</a>,
			all you have to do is select it from the Runner dropdown in Ecsact's
			Project Settings
		</p>
		<img src="/assets/EnableAsyncRunner.png" height="800" width="800" />

		<h2 id="Async Menu">Async Menu</h2>
		<p>
			Now we'll add a script that will load the scenes and connect us to the
			async reference.
		</p>
		<code-block-variation>
			<pre codeBlockVariationOption><code prism language="csharp">
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.UI;
using UnityEngine.SceneManagement;
using TMPro;

public class AsyncMenu : MonoBehaviour {{'{'}}

    public Button? connectBtn;
    public TMP_Dropdown? dropdown;

    private List<{{'string'}}> options = new();

    void OnEnable() {{'{'}}
        options.Add("BasicExample");
        options.Add("MovingBlock");

        dropdown.AddOptions(options);

        connectBtn.onClick.AddListener(onButtonClick);
		{{'}'}}

    void onButtonClick() {{'{'}}
        var sceneName = options[dropdown.value];
        Debug.Log("Loading scene " + sceneName);

        SceneManager.LoadScene(sceneName);

        var millisecondTime = Time.fixedDeltaTime * 1000;

        Debug.Log("Loading with time(ms): " + millisecondTime);

        Ecsact.Defaults.Runtime.async.Connect("good?delta_speed="+millisecondTime);
		{{'}'}}
{{'}'}}
		</code></pre>
		</code-block-variation>
		<p>
			That's it! Load your scenes and try different delta speeds to try out how
			async works.
		</p>
	</section>
</article>
