<article>
	<h1>Setting Up Unity</h1>
	<section>
		<h2>Ecsact Integration Package</h2>
		<p>
			Unity Ecsact Integration is provided as a
			<a href="https://docs.unity3d.com/Manual/Packages.html" target="_blank"
				>Unity Package</a
			>
			and is <strong>required</strong> to use Ecsact with Unity.
		</p>
		<ol>
			<li>Start your unity project</li>
			<li>
				Open the Package Manager window (
				<strong
					>Window <span class="i24">arrow_right</span> Package Manager</strong
				>)
			</li>
			<li>
				Click the
				<span class="i24">add_box</span>
				in the top left
			</li>
			<li>
				Add the Ecsact Unity integration git URL
				<code-block-variation class="m-0 rounded-md mt-3">
					<pre
						prism
						language="uri"
						codeBlockVariationOption
						optionTitle="Unity Package Git URL">
https://github.com/ecsact-dev/ecsact_unity.git</pre
					>
				</code-block-variation>
			</li>
		</ol>
		<b>NOTE:</b> You may get errors about missing components that you will need
		to install. Ecsact uses
		<a href="https://github.com/microsoft/vswhere" target="_blank">vswhere</a>
		to output these errors, and you can search the
		<a
			href="https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools?view=vs-2022"
			target="_blank">
			outputs for entries</a
		>.
	</section>
	<section>
		<h2>The Ecsact Window</h2>
		<p>
			If the Ecsact package was successfully installed, there will be a new
			window under
			<code
				>Edit <span class="i24">arrow_right</span> ProjectSettings
				<span class="i24">arrow_right</span> Ecsact</code
			>. This is where Ecsact is configured and any setup below happens here.
		</p>
		<img src="assets/UnityEcsactPage.png" width="800" height="200" />
	</section>
	<section>
		<h2>Assembly</h2>
		<p>
			For systems to be registered into Ecsact, it needs to be part of an
			Assembly. In addition, it will need the following dependencies:
		</p>
		<ol>
			<li>Ecsact</li>
			<li>EcsactCSharpSystemImplRuntime</li>
		</ol>

		<p>
			You can either do that yourself, or the integration will do that
			automatically with the dependencies for you.
		</p>

		<p>
			Go to the <code>System Implementations</code> section of the Ecsact window
			and press the <code>Create New Assembly Definition</code>button. Follow
			the prompt to choose where it's created.
		</p>
		<img src="assets/assembly_setup.png" width="800" height="200" />
		<p></p>
	</section>
	<section>
		<h2>Unity Sync</h2>
		<p>
			To enable
			<a routerLink="/docs/unity/unity-sync" routerLinkActive="active"
				>Unity Sync</a
			>
			go to the <code>Runtime Settings</code> section and checkmark
			<code>Enable Unity Sync</code>. When enabled, it will search for any C#
			files using Unity Sync automatically and display them under
			<code>Unity Sync Scripts.</code>
		</p>
		<img src="assets/UnitySyncEnable.png" width="800" height="300" />
	</section>
	<section>
		<h2>Recipes</h2>
		<p>
			Ecsact supports having multiple <a>recipes</a>. You can use other
			implementations, or there's one available for EnTT that comes packaged in
			the Ecsact SDK. If you're having any errors related to recipes make sure
			it's set under <code>Ecsact Build Settings</code>
		</p>
		<img src="assets/UnityRecipeConfig.png" width="800" height="300" />
	</section>
	<section>
		<h2>Learning about the Unity Integration</h2>
		<p>
			To learn more about the Ecsact Integration for Unity, you can follow our
			<a
				routerLink="/start/tutorials/unity/basic-example"
				routerLinkActive="active"
				>tutorial</a
			>
			that goes over the basics. You can also refer to the
			<a routerLink="/docs/overview" routerLinkActive="active">documentation</a>
			under <code>Unity Integration</code> to learn more.
		</p>
	</section>
</article>
