<article>
	<h1>Setting Up Unity</h1>
	<section>
		<h2>Ecsact Integration Package</h2>
		<p>
			Unity Ecsact Integration is provided as a
			<a href="https://docs.unity3d.com/Manual/Packages.html" target="_blank"
				>Unity Package</a
			>
			and is <strong>required</strong> to use Ecsact with Unity. Installing the
			latest integration is easy.
		</p>
		<ol>
			<li>Start your unity project</li>
			<li>
				Open the Package Manager window (
				<strong
					>Window <span class="i24">arrow_right</span> Package Manager</strong
				>)
			</li>
			<li>
				Click the
				<span class="i24">add_box</span>
				in the top left
			</li>
			<li>
				Add the Ecsact Unity integration git URL
				<code-block-variation class="m-0 rounded-md mt-3">
					<pre
						prism
						language="uri"
						codeBlockVariationOption
						optionTitle="Unity Package Git URL">
						git@github.com:ecsact-dev/ecsact_unity.git</pre
					>
				</code-block-variation>
			</li>
		</ol>
		<b>NOTE:</b> You may get errors about missing components that you will need
		to install. Ecsact uses
		<a href="https://github.com/microsoft/vswhere" target="_blank">vswhere</a>
		to output these errors, and you can search the
		<a
			href="https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools?view=vs-2022"
			target="_blank">
			outputs for entries</a
		>
	</section>
	<section>
		<h2>Assembly</h2>
		<p>
			For systems to be registered into Ecsact, it needs to be part of an
			Assembly. In addition, it will need the following dependencies:
		</p>
		<ol>
			<li>Ecsact</li>
			<li>EcsactCSharpSystemImplRuntime</li>
		</ol>

		<p>
			After you've setup your assembly it needs to be set in
			<code
				>Edit <span class="i24">arrow_right</span> ProjectSettings
				<span class="i24">arrow_right</span> Ecsact</code
			>
			under System Implementations
		</p>
		<img src="assets/assembly_setup.png" width="800" height="200" />
	</section>
	<section>
		<h2>Unity Sync</h2>
		<p>
			Enabling
			<a routerLink="/docs/unity/unity-sync" routerLinkActive="active"
				>Unity Sync</a
			>
			is very simple. All you have to do is go to
			<code
				>Edit <span class="i24">arrow_right</span> ProjectSettings
				<span class="i24">arrow_right</span> Ecsact</code
			>
			and checkmark <code>Enable Unity Sync</code>. When enabled, it will search
			for any Unity Sync files automatically and add them to its pool which is
			listed below.
		</p>
		<img src="assets/UnitySyncEnable.png" width="800" height="300" />

		<h2>Learning about the Unity Integration</h2>
		<p>
			If you want to learn about the Ecsact Integration for Unity, you can
			follow our <a href="start/tutorials/unity/basic-example">tutorial</a> that
			goes over the basics.
		</p>
	</section>
</article>
