// This is the root styles sheet. This file applies to all styles in the
// application without encapsulation.

@import 'syntax-highlighting';

$blackColor: #202120;
$whiteColor: #d4d4d4;

@mixin dark-color-scheme {
	--color-bg: #{$blackColor};
	--color-content-bg: #{darken($blackColor, 2%)};
	--color-text: #{$whiteColor};

	.brand.ecsact {
		background-image: url(external/ecsact_logo/ecsact-white.png);
	}
	.brand.ecsact-color {
		background-image: url(external/ecsact_logo/ecsact-color.png);
	}
	.brand.unity {
		background-image: url(assets/brand/unity-white.png);
	}
	.brand.unreal {
		background-image: url(assets/brand/unreal-white.png);
	}
	.brand.unreal-stacked {
		background-image: url(assets/brand/unreal-stacked-white.png);
	}
	.brand.godot {
		background-image: url(assets/brand/godot-dark.png);
	}
	.brand.discord {
		background-image: url(assets/brand/discord-mark-white.svg);
	}
	.brand.github {
		background-image: url(assets/brand/github-mark.svg);
		filter: invert(1);
	}
}

@mixin light-color-scheme {
	--color-bg: #{$whiteColor};
	--color-content-bg: #{lighten($whiteColor, 10%)};
	--color-text: #{$blackColor};

	.brand.ecsact {
		background-image: url(external/ecsact_logo/ecsact-black.png);
	}
	.brand.ecsact-color {
		background-image: url(external/ecsact_logo/ecsact-color.png);
	}
	.brand.unity {
		background-image: url(assets/brand/unity-black.png);
	}
	.brand.unreal {
		background-image: url(assets/brand/unreal-black.png);
	}
	.brand.unreal-stacked {
		background-image: url(assets/brand/unreal-stacked-black.png);
	}
	.brand.godot {
		background-image: url(assets/brand/godot-light.png);
	}
	.brand.discord {
		background-image: url(assets/brand/discord-mark-white.svg);
		filter: invert(1);
	}
	.brand.github {
		background-image: url(assets/brand/github-mark.svg);
	}
}

:root {
	--top-nav-height: 50px;
	--side-nav-width: 300px;

	@media (prefers-color-scheme: dark) {
		@include dark-color-scheme;
	}

	@media (prefers-color-scheme: light) {
		@include light-color-scheme;
	}

	@media (max-width: 1044px) {
		--side-nav-width: 80vw;
	}
}

html,
body {
	color: var(--color-text);
}

code {
	background-color: var(--color-bg);
	border-radius: 3px;
	padding: 0 4px;
	box-sizing: content-box;
}

pre > code {
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	overflow-y: scroll;
}

table {
	width: 100%;
	border-spacing: 0px;
	color: var(--color-text);
	background-color: var(--color-content-bg);

	tr {
		position: relative;
	}

	td,
	th {
		text-align: left;
		padding: 4px 8px;
	}

	tr:first-child {
		background-color: var(--color-content-bg);

		th:first-child {
			border-top-left-radius: 4px;
		}

		th:last-child {
			border-top-right-radius: 4px;
		}
	}

	th {
		border-bottom: 1px solid var(--color-text);
		border-top: 1px solid var(--color-text);
	}

	tr > td:first-child,
	tr > th:first-child {
		border-left: 1px solid var(--color-text);
	}
	tr > td:last-child,
	tr > th:last-child {
		border-right: 1px solid var(--color-text);
	}

	tr:last-child {
		td {
			border-bottom: 1px solid var(--color-text);
		}

		td:first-child {
			border-bottom-left-radius: 4px;
		}

		td:last-child {
			border-bottom-right-radius: 4px;
		}
	}
}

table {
	.hidden-btn-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: left;

		button {
			margin: 8px 16px;
			border: 1px solid var(--color-text);
			color: var(--color-text);
			cursor: pointer;
			padding: 4px 8px;
			border-radius: 3px;
			background-color: var(--color-bg);
			position: sticky;
			left: 8px;
		}
	}

	tr[hiddenRow] {
		display: none;
	}

	&.showing-hidden-rows {
		@keyframes show-hidden-row {
			0% {
				opacity: 0;
				transform: translateY(10px);
			}

			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		tr[hiddenRow] {
			display: table-row;
			animation: show-hidden-row 300ms ease;
			animation-fill-mode: forwards;
		}
	}

	tr.toggle-hidden-rows-row {
		height: 48px;
	}

	.hidden-btn-container button::before {
		content: 'Show More Rows';
	}

	&.showing-hidden-rows {
		.hidden-btn-container button::before {
			content: 'Show Less Rows';
		}
	}
}

table.sticky {
	tr:first-child {
		position: sticky;
		top: var(--top-nav-height);
	}
}

.always-dark {
	@include dark-color-scheme;
}

.always-light {
	@include light-color-scheme;
}

.inverse-color-scheme {
	@media (prefers-color-scheme: light) {
		@include dark-color-scheme;
	}

	@media (prefers-color-scheme: dark) {
		@include light-color-scheme;
	}
}

.always-dark .inverse-color-scheme {
	@include light-color-scheme;
}

.always-light .inverse-color-scheme {
	@include dark-color-scheme;
}

@mixin icon-style($size) {
	min-width: 1em;
	max-width: 1em;
	display: inline-block;
	overflow: hidden;
	font-weight: normal;
	font-style: normal;
	user-select: none;
	font-family: 'Material Symbols Outlined';
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' $size;
	vertical-align: top;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.i48 {
	@include icon-style(48);
}
.i24 {
	@include icon-style(24);
}

@mixin thin-scroll($color, $bgColor) {
	scrollbar-width: thin;
	scrollbar-color: $color $bgColor;

	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	&::-webkit-scrollbar-track {
		background: $bgColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color;
		border-radius: 14px;
		border: 4px solid $bgColor;
	}
}

.thin-scroll {
	@include thin-scroll(#{var(--color-text)}, #{var(--color-content-bg)});
}

main article {
	$preBgColor: #182122;

	margin: 32px;

	code-block-variation,
	> section > pre,
	> pre {
		// Always using the dark theme in pre article tags
		@include dark-color-scheme;
		color: var(--color-text);
		margin: 0px 0px;
		padding: 16px 32px;
		background-color: $preBgColor;
		border-radius: 16px;
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.02);
		transition: 300ms ease box-shadow;
		margin-bottom: 32px;

		&:hover {
			box-shadow: 0 12px 16px rgba(0, 0, 0, 0.16);
		}
	}

	@media (max-width: 1600px) {
		code-block-variation,
		> section > pre,
		> pre {
			margin: 0px -32px;
			border-radius: 0px;
			box-shadow: none;
		}
	}

	@media (max-width: 374px) {
		margin: 16px;

		code-block-variation,
		> section > pre,
		> pre {
			margin: 0px -16px;
			padding: 8px 16px;
		}
	}

	code-block-variation,
	section > pre,
	> pre {
		overflow-x: auto;
		@include thin-scroll(#{var(--color-text)}, $preBgColor);
	}
}

a {
	text-decoration: none;

	@media (hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

.brand {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.btn {
	display: inline-block;
	border: 1px solid currentColor;
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 4px;

	@media (hover: hover) {
		transition: 100ms ease box-shadow, 100ms ease transform, 100ms ease opacity;
		transform: translateY(2px);
		opacity: 1;
		box-shadow: 0px 0px 0px currentColor;

		&:hover {
			text-decoration: none;
			transform: translateY(0px);
			box-shadow: 0px 3px 0px currentColor;
		}

		&:focus {
			box-shadow: 0px 0px 0px currentColor;
			transform: translateY(2px);
			opacity: 1;
		}

		&:active {
			box-shadow: 0px 0px 0px currentColor;
			transform: translateY(2px);
			opacity: 0.8;
		}
	}
}

// Internal styles for <code-block-variation>
code-block-variation > .group > .code-block-container > pre {
	display: none;
	&.code-block-variation-option-active {
		display: block;
	}
}
