// This is the root styles sheet. This file applies to all styles in the
// application without encapsulation.

$blackColor: #202120;
$whiteColor: #d4d4d4;

@mixin dark-color-scheme {
	--color-bg: #{$blackColor};
	--color-content-bg: #{darken($blackColor, 2%)};
	--color-text: #{$whiteColor};
}

@mixin light-color-scheme {
	--color-bg: #{$whiteColor};
	--color-content-bg: #{lighten($whiteColor, 10%)};
	--color-text: #{$blackColor};
}

:root {
	--color-primary: #9dd9d2;
	--color-secondary: #ff8811;
	--color-error: rgb(221 100 70);
	--color-success: rgb(86 213 108);
	--top-nav-height: 50px;
	--side-nav-width: 300px;

	@media (prefers-color-scheme: dark) {
		@include dark-color-scheme;
	}

	@media (prefers-color-scheme: light) {
		@include light-color-scheme;
	}

	@media (max-width: 1044px) {
		--side-nav-width: 80vw;
	}
}

html,
body {
	color: var(--color-text);
}

* {
	font-family: 'Raleway', sans-serif;
}

code,
pre {
	font-family: 'Noto Sans Mono', monospace;
	* {
		font-family: inherit;
	}
}

code {
	background-color: var(--color-bg);
	border-radius: 3px;
	padding: 0 4px;
	box-sizing: content-box;
}

pre > code {
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-bg);
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	overflow-y: scroll;
}

table {
	width: 100%;
	border-spacing: 0px;
	color: var(--color-text);
	background-color: var(--color-content-bg);

	tr {
		position: relative;
	}

	td,
	th {
		text-align: left;
		padding: 4px 8px;
	}

	tr:first-child {
		background-color: var(--color-content-bg);

		th {
			border-bottom: 1px solid var(--color-text);
			border-top: 1px solid var(--color-text);
		}

		th:first-child {
			border-top-left-radius: 4px;
		}

		th:last-child {
			border-top-right-radius: 4px;
		}
	}

	tr > td:first-child,
	tr > th:first-child {
		border-left: 1px solid var(--color-text);
	}
	tr > td:last-child,
	tr > th:last-child {
		border-right: 1px solid var(--color-text);
	}

	tr:last-child {
		td {
			border-bottom: 1px solid var(--color-text);
		}

		td:first-child {
			border-bottom-left-radius: 4px;
		}

		td:last-child {
			border-bottom-right-radius: 4px;
		}
	}
}

table {
	.hidden-btn-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: left;

		button {
			margin: 8px 16px;
			border: 1px solid var(--color-text);
			color: var(--color-text);
			cursor: pointer;
			padding: 4px 8px;
			border-radius: 3px;
			background-color: var(--color-b);
			position: sticky;
			left: 8px;
		}
	}

	tr[hiddenRow] {
		display: none;
	}

	&.showing-hidden-rows {
		@keyframes show-hidden-row {
			0% {
				opacity: 0;
				transform: translateY(10px);
			}

			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		tr[hiddenRow] {
			display: table-row;
			animation: show-hidden-row 300ms ease;
			animation-fill-mode: forwards;
		}
	}

	tr.toggle-hidden-rows-row {
		height: 48px;
	}

	.hidden-btn-container button::before {
		content: 'Show More Rows';
	}

	&.showing-hidden-rows {
		.hidden-btn-container button::before {
			content: 'Show Less Rows';
		}
	}
}

table.sticky {
	tr:first-child {
		position: sticky;
		top: var(--top-nav-height);
	}
}

.always-dark {
	@include dark-color-scheme;
}

.always-light {
	@include light-color-scheme;
}

.inverse-color-scheme {
	@media (prefers-color-scheme: light) {
		@include dark-color-scheme;
	}

	@media (prefers-color-scheme: dark) {
		@include light-color-scheme;
	}
}

.always-dark .inverse-color-scheme {
	@include light-color-scheme;
}

.always-light .inverse-color-scheme {
	@include dark-color-scheme;
}

.i48 {
	user-select: none;
	font-family: 'Material Symbols Outlined';
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	vertical-align: top;
	color: var(--color-primary);
	&.secondary {
		color: var(--color-secondary);
	}
}

.i24 {
	user-select: none;
	font-family: 'Material Symbols Outlined';
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
	vertical-align: top;
	color: var(--color-primary);
	&.secondary {
		color: var(--color-secondary);
	}
}

.thin-scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--color-text) var(--color-bg);

	&::-webkit-scrollbar {
		width: 16px;
	}

	&::-webkit-scrollbar-track {
		background: var(--color-bg);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-text);
		border-radius: 14px;
		border: 4px solid var(--color-bg);
	}
}

main article {
	margin: 32px;

	> pre {
		// Always using the dark theme in pre article tags
		@include dark-color-scheme;
		color: var(--color-text);
		margin: 0px -32px;
		padding: 16px 32px;
		background-color: #182122;
	}

	@media (max-width: 374px) {
		margin: 16px;

		> pre {
			margin: 0px -16px;
			padding: 8px 16px;
		}
	}
}

a {
	color: var(--color-secondary);
	text-decoration: none;

	@media (hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}

////////////////////////////////////
/// BEGIN Syntax highlighting

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.keyword {
	color: #c678dd;
}

.token.function {
	color: #61afef;
}
.token.builtin,
.token.class-name {
	color: #e5c07b;
}

.token.variable {
	color: #e06c75;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
/// END Syntax highlighting
////////////////////////////////////
///
