@use 'sass:color';

@mixin syntax-color($color) {
	color: $color;
	&::selection {
		color: color.scale($color, $lightness: 20%);
	}
}

code[class*='language-'],
pre[class*='language-'] {

	*::selection {
		background: rgba(255, 255, 255, 0.16);
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		@include syntax-color(slategray);
	}

	.token.punctuation {
		@include syntax-color(#999);
	}

	.token.keyword {
		@include syntax-color(#c678dd);
	}

	.token.directive-hash {
		@include syntax-color(#c678dd);
	}

	.token.function {
		@include syntax-color(#61afef);
	}

	.token.builtin {
		@include syntax-color(#c678dd);
	}

	.token.class-name {
		@include syntax-color(#9b6a0f);

		@media (prefers-color-scheme: dark) {
			@include syntax-color(#e5c07b);
		}
	}

	.token.variable {
		@include syntax-color(#e06c75);
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}

	.token.number {
		@include syntax-color(#d19a66);
	}

	.token.operator {
		@include syntax-color(#c678dd);
	}

	.token.string {
		@include syntax-color(#98c379);
	}
}
