code[class*='language-'],
pre[class*='language-'] {
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: slategray;
	}

	.token.punctuation {
		color: #999;
	}

	.token.keyword {
		color: #c678dd;
	}

	.token.directive-hash {
		color: #c678dd;
	}

	.token.function {
		color: #61afef;
	}
	.token.builtin,
	.token.class-name {
		color: #e5c07b;
	}

	.token.variable {
		color: #e06c75;
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}

	.token.number {
		color: #d19a66;
	}

	.token.operator {
		color: #c678dd;
	}

	.token.string {
		color: #98c379;
	}
}
