<ecsact-sidenav>
	<ecsact-sidenav-section>
		<a
			routerLink="/tutorials"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{exact: true}"
			>Overview</a
		>
	</ecsact-sidenav-section>
	<ecsact-sidenav-section title="System Implementations">
		<a routerLink="/tutorials/sys-impl/emsdk-cpp" routerLinkActive="active"
			>Create system implementations with Wasm and C++</a
		>
	</ecsact-sidenav-section>
</ecsact-sidenav>

<ecsact-content>
	<router-outlet></router-outlet>
</ecsact-content>
