<div class="container-wrap">
	<div class="container">
		<div class="item-container">
			<div class="item-content">
				<nav>
					<a routerLink="/install" routerLinkActive="active" class="button-link">
						Install Ecsact
					</a>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container-wrap">
	<div class="container">
		<div class="item-container">
			<div class="item-content">
				<nav>
					<a routerLink="/getstarted" routerLinkActive="active" class="button-link">
						Get Started
					</a>
				</nav>
			</div>
		</div>
	</div>
</div>
