<div class="flex flex-row gap-2 my-8 mx-auto justify-center items-center">
	<div class="w-16 h-16 brand ecsact"></div>
	<div>
		<div class="text-2xl text-secondary">Create with Ecsact</div>
		<div class="text-sm">A language to describe your ECS</div>
	</div>
</div>

<ecsact-example-diagram
	style="margin: 32px auto; max-width: 1200px; padding: 0px 16px"
	[verticalLayout]="smallWidth()">
	<pre
		diagramStart
		class="h-full flex items-center justify-center"
		style="font-size: 80%"><code ecsactLangSyntax>
		package example;
		
		component Health {{'{'}} f32 value; {{'}'}}
		component Poisoned {{'{'}} i32 potency; {{'}'}}
		component Invincible;
		system PoisonDamage {{'{'}}
			readonly Poisoned;
			readwrite Health;
			exclude Invincible;
		{{'}'}}
	</code></pre>

	<div diagramMid1 class="h-full flex items-center justify-center text-center">
		Codegen
	</div>

	<div diagramMid2 class="h-full flex items-center justify-center text-center">
		PoisonDamage
		<br />
		Implementation
	</div>

	<div diagramMid3 class="h-full flex items-center justify-center text-center">
		Runtime
	</div>

	<div diagramMid4 class="h-full flex items-center justify-center text-center">
		Component<br />Events
	</div>

	<div diagramEnd style="margin: 16px">
		<p>(TODO animate character dying)</p>
	</div>
</ecsact-example-diagram>

<article>
	<section class="my-8 max-w-md center mx-auto px-2">
		<p class="text-center">
			Ready to give Ecsact a try? Head on over to our getting started page to
			install the Ecsact SDK, integrate with your favourite engine, and learn
			more about Ecsact.
		</p>
		<p class="text-center text-success text-lg font-bold">
			<a class="btn" routerLink="/start">
				<span class="i48">rocket_launch</span>
				Get Started
			</a>
		</p>
	</section>

	<section class="my-8 max-w-md center mx-auto px-2">
		<p class="text-center">[BRIEF DESCRIPTION OF FEATURE A]</p>
		<p class="text-center">
			<a routerLink="/start" class="btn">
				<span class="i48">school</span>
				Learn More
			</a>
		</p>
	</section>

	<section class="my-8 max-w-md center mx-auto px-2">
		<p style="text-align: center" t>[BRIEF DESCRIPTION OF FEATURE B]</p>
		<p class="text-center">
			<a routerLink="/start" class="btn">
				<span class="i48">school</span>
				Learn More
			</a>
		</p>
	</section>

	<section class="my-8 max-w-md center mx-auto px-2">
		<p style="text-align: center" t>[BRIEF DESCRIPTION OF FEATURE C]</p>
		<p class="text-center">
			<a routerLink="/start" class="btn">
				<span class="i48">school</span>
				Learn More
			</a>
		</p>
	</section>

	<section class="my-8 max-w-md center mx-auto px-2">
		<p class="text-center">What are you waiting for?</p>
		<p class="text-center text-success text-lg font-bold">
			<a class="btn" routerLink="/start">
				<span class="i24">rocket_launch</span>
				Get Started
			</a>
		</p>
	</section>
</article>
