<div class="overflow-hidden pb-8 bg-secondary text-black relative">
	<div
		class="flex flex-col lg:flex-row gap-4 my-8 mx-auto justify-center items-center relative z-30">
		<div
			class="w-64 h-64 bg-logoBlack bg-center bg-no-repeat opacity-80 bg-contain"></div>
		<div class="px-4">
			<p class="text-4xl bold text-black">Create with Ecsact</p>
			<p class="text-xl">A language to describe your ECS</p>
			<p class="font-bold">
				<a class="btn text-primary/50 bg-primary" routerLink="/start">
					<span class="flex flex-row items-center text-black">
						<span class="i48 text-2xl mr-2">rocket_launch</span>
						Get Started
					</span>
				</a>
			</p>
		</div>
	</div>

	<div
		class="absolute top-0 left-0 right-0 h-32 bg-gradient-to-b from-secondary z-20"></div>

	<div
		class="absolute top-0 bottom-0 left-0 right-0 z-10 bg-subtle-texture bg-repeat bg-center opacity-40"></div>
	<div
		class="absolute bottom-0 left-0 right-0 h-32 opacity-25 bg-gradient-to-t from-primary z-20 border-b-4 border-primary border-solid"></div>
</div>

<ecsact-example-diagram
	style="margin: 32px auto; max-width: 1200px; padding: 0px 16px"
	[verticalLayout]="smallWidth()">
	<pre
		diagramStart
		class="h-full flex items-center justify-center"
		style="font-size: 80%"><code ecsactLangSyntax>
		package example;
		
		component Health {{'{'}} f32 value; {{'}'}}
		component Poisoned {{'{'}} i32 potency; {{'}'}}
		component Invincible;
		system PoisonDamage {{'{'}}
			readonly Poisoned;
			readwrite Health;
			exclude Invincible;
		{{'}'}}
	</code></pre>

	<div diagramMid1 class="h-full flex items-center justify-center text-center">
		Codegen
	</div>

	<div diagramMid2 class="h-full flex items-center justify-center text-center">
		PoisonDamage
		<br />
		Implementation
	</div>

	<div diagramMid3 class="h-full flex items-center justify-center text-center">
		Runtime
	</div>

	<div diagramMid4 class="h-full flex items-center justify-center text-center">
		Component<br />Events
	</div>

	<div diagramEnd style="margin: 16px">
		<p>(TODO animate character dying)</p>
	</div>
</ecsact-example-diagram>

<article>
	<section
		class="max-w-2xl my-8 center mx-auto px-4 py-16 flex flex-col-reverse lg:flex-row gap-8 items-center">
		<div class="flex-1">
			<h2>ECS <em>enforced</em>.</h2>
			<p>
				Prevent mistakes by having a language that forces the
				<em>best</em> use of ECS.
			</p>
			<p class="font-bold">
				<a class="btn text-secondary/50 bg-secondary" routerLink="/start">
					<span class="text-black">
						<span class="i48">school</span>
						Learn More
					</span>
				</a>
			</p>
		</div>

		<div class="brand ecsact flex-1 self-stretch"></div>
	</section>

	<section
		class="max-w-2xl my-8 center mx-auto px-4 py-16 flex flex-col lg:flex-row gap-8 items-center">
		<div class="brand ecsact flex-[2] self-stretch"></div>
		<div class="flex-[3]">
			<h2>Commit to Ecsact without committing to an engine.</h2>
			<p>
				Ecsact is designed to not rely on any particular engine, affording you
				the flexibility to make the best decision for your product.
			</p>
			<p class="text-sm">
				<a>Unity integration</a> is <strong>available now</strong> with
				<a>Unreal</a> and <a>Godot</a> support planned for the near future.
				<a>Custom</a> integration is also possible for in-house or other engines
				that are not officially planned for.
			</p>
			<p class="font-bold">
				<a
					class="btn text-secondary/50 bg-secondary"
					routerLink="/start"
					fragment="integrations">
					<span class="text-black">
						<span class="i48">school</span>
						Learn More
					</span>
				</a>
			</p>
		</div>
	</section>

	<section class="my-8 max-w-md center mx-auto px-2">
		<p style="text-align: center" t>[BRIEF DESCRIPTION OF FEATURE C]</p>
		<p class="text-center">
			<a routerLink="/start" class="btn">
				<span class="i48">school</span>
				Learn More
			</a>
		</p>
	</section>

	<section class="my-8 max-w-md center mx-auto px-4 py-16">
		<p class="text-center">What are you waiting for?</p>
		<p class="text-center text-lg font-bold">
			<a class="btn text-primary/50 bg-primary" routerLink="/start">
				<span class="text-black">
					<span class="i48">rocket_launch</span>
					Get Started
				</span>
			</a>
		</p>
	</section>
</article>
