@import 'typed';

.logo-mask {
	background: radial-gradient(
		at 0% 0%,
		var(--color-secondary),
		var(--color-primary-bright)
	);
}

.logo-outline-mask {
	background: radial-gradient(at 0% 0%, #000000, var(--color-secondary));
	filter: invert(1);
}

.language-container:hover {
	.language-typed {
		.inner-text {
			display: none;
		}

		@include typed(
			'Language',
			1.5,
			(
				caret-width: 2px,
				caret-space: 2px,
				iterations: 1,
				delay: 0,
			)
		);
	}
}

.runtime-standard-method {
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
